# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Raw downloaded data
data/raw_json/
data/temp_download/
*.zip

# OS junk
.DS_Store
Thumbs.db